@charset "UTF-8";
/* Author: Melissa McMahon */
/* mainBody styles the background color and font type of each page. */
.mainBody {
	background-color: #fefcf4;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0px;
}
/* myTitle styles the title of each page. */
.myTitle {
	text-align: center;
	font-style: italic;
}
/* tab is the div that holds all my tab options. */
.tab{
	overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F0F8FF;
}
/* tabButton is for my three tab options at the top of the page, Register, Login, and AddQuote */
.tabButton {
	float: left;
	margin: 10px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s; 
}
/* quote holder is for the big div holding all of the smaller quotes inside of it, the biggest container. */
.quoteHolder{
	margin: 20px;
	padding: 10px;
	border: solid;
	background-color: #fefcf4;
	box-shadow: 5px 10px;
}
/* quote holds the css for the styling of each individual quote. */
.quote{
	margin: 10px;
	padding: 10px;
	border: dashed;
	/* width: 500px; */
	background-color: #F8F8FF;
}
/* RLAHolder is the css for the login and register pages.*/
.RLAHolder{
	border: solid;
	background-color: #F8F8FF;
	margin: 20px;
	padding: 10px;
	width: 250px;
	height: 150px;
}
